.main{
   background:url("https://tse4.mm.bing.net/th?id=OIP.ffpEjmruHin3ChUHyqRZRAHaEK&pid=Api&P=0");
   width:100%; 
}
.details{
   width:250px;
   color:white;
   background-color:black;
   padding:30px 50px 50px 50px;
   margin-left:55px;
   margin-top:55px;
   text-align:center;
   opacity:0.8;
}
.details:hover{
   box-shadow:rgb(38, 57, 77) 0px 20px 30px -10px;
   background-color:Crimson;
}
